<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="logo">
      <img src="" alt="">
    </div>
    <ul class="menu">
      <li><a (click)="navigateTo($event)" [routerLink]="''" fragment="hero">Home</a></li>
      <li><a (click)="navigateTo($event)" [routerLink]="''" fragment="experiencia">Experiencia</a></li>
      <li><a (click)="navigateTo($event)" [routerLink]="''" fragment="proyectos">Proyectos</a></li>
      <li><a [routerLink]="['/contact']">Contacto</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>