<nav class="header-wrapper">
  <header class="header__header">
    <div class="logo">logo</div>
    <div class="header-items">
      <ul class="header-list">
        <li class="header-list__item">
          <a
            (click)="navigateTo($event)"
            class="header-list__item__a"
            routerLinkActive="active"
            [routerLink]="''"
            fragment="hero"
            >home</a
          >
        </li>
        <li class="header-list__item">
          <a
            (click)="navigateTo($event)"
            class="header-list__item__a"
            routerLinkActive="active"
            [routerLink]="''"
            fragment="about"
            >about</a
          >
        </li>
        <li class="header-list__item">
          <a
            (click)="navigateTo($event)"
            class="header-list__item__a"
            routerLinkActive="active"
            [routerLink]="''"
            fragment="experience"
          >
            experience
          </a>
        </li>
        <li class="header-list__item">
          <a
            class="header-list__item__a"
            routerLinkActive="active"
            [routerLink]="['/projects']"
            href=""
            >projects</a
          >
        </li>
        <li class="header-list__item">
          <a
            class="header-list__item__a"
            routerLinkActive="active"
            [routerLink]="['/contact']"
            href=""
            >contact</a
          >
        </li>
      </ul>
    </div>
  </header>
</nav>
