<aside class="aside">
  <div class="aside-head">
    <img src="assets/images/github.svg" alt="github" />
    <img src="assets/images/Linkedin.svg" alt="Linkedin" />
    <img src="assets/images/mail.svg" alt="mail" />
  </div>
  <div class="aside-profile">
    <img src="" alt="" />
    <h2>Jorge de Toro</h2>
    <span>@developer</span>
  </div>
  <div class="aside-cards">
    <h2 class="aside-cards-title">Gamers online</h2>
    <div class="aside-cards-card">
      <a
        ><img src="assets/images/asideProfile/FSD.svg" alt="icon" />Master Full
        Stack Developer</a
      >
    </div>
    <div class="aside-cards-card">
      <a
        ><img src="assets/images/asideProfile/Data.svg" alt="icon" />Master Data
        Science</a
      >
    </div>

    <div class="aside-cards-card">
      <a
        ><img src="assets/images/asideProfile/ADE.svg" alt="icon" />Licenciado
        en Admón. y Dirección de empresas</a
      >
    </div>
  </div>
  <div class="aside-social">
    <h2 class="aside-social-title">Follow me</h2>
    <div class="aside-social-card">
      <img src="assets/images/asideProfile/Instagram.svg" alt="icon" />
      <a>@jorgedtoro</a>
    </div>
    <div class="aside-social-card">
      <img src="assets/images/asideProfile/Twitter.svg" alt="icon" />
      <a>@jorgedtoro</a>
    </div>
  </div>
</aside>
