<aside class="aside">
  <div class="aside-head">
    <a href="https://github.com/jorgedtoro" target="_blank">
      <img src="assets/images/github.svg" alt="github" />
    </a>

    <a href="https://es.linkedin.com/in/jorge-de-toro-695b90bb" target="_blank">
      <img src="assets/images/Linkedin.svg" alt="Linkedin" />
    </a>

    <a [routerLink]="['/contact']"
      ><img src="assets/images/mail.svg" alt="mail" />
    </a>
  </div>
  <div class="aside-profile">
    <div class="aside-profile-info">
      <div class="aside-profile-info-image">
        <img src="assets/images/gamer.jpg" alt="avatar" />
      </div>

      <div class="aside-profile-info-content">
        <div class="aside-profile-info-content-user">
          <h2 class="user__name">Jorge de Toro</h2>
          <span class="user__nick">@developer</span>
        </div>
        <div class="aside-profile-info-content-status">
          <span class="user__status">ONLINE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="aside-cards">
    <h2 class="aside-cards-title">New Followers</h2>
    <div class="aside-cards-card">
      <div class="aside-cards-card-content">
        <img src="assets/images/asideProfile/FSD.svg" alt="icon" />
        <a>Master Full Stack Developer</a>
      </div>
    </div>
    <div class="aside-cards-card">
      <div class="aside-cards-card-content">
        <img src="assets/images/asideProfile/Data.svg" alt="icon" />
        <a>Master Data Science</a>
      </div>
    </div>

    <div class="aside-cards-card">
      <div class="aside-cards-card-content">
        <img src="assets/images/asideProfile/ADE.svg" alt="icon" />
        <a>Licenciado en Admón. y Dirección de empresas</a>
      </div>
    </div>
  </div>
  <div class="aside-social">
    <h2 class="aside-social-title">Follow me</h2>
    <div class="aside-social-card">
      <div class="aside-social-card-content">
        <img src="assets/images/asideProfile/Instagram.svg" alt="icon" />
        <a>@jorgedtoro</a>
      </div>
    </div>
    <div class="aside-social-card">
      <div class="aside-social-card-content">
        <img src="assets/images/asideProfile/Twitter.svg" alt="icon" />
        <a>@jorgedtoro</a>
      </div>
    </div>
  </div>
</aside>
