<form class="form">
  <div class="form-body">
    <label class="label" for="name">Name</label>
    <input class="input" type="text" id="name" />
    <label class="label" for="lastName">Last Name</label>
    <input class="input" type="text" id="lastName" />
    <label class="label" for="comments">Comments</label>
    <textarea
      name="comments"
      id=""
      cols="30"
      rows="10"
      placeholder="Type here your comments"
    ></textarea>
  </div>
  <div class="form-btn">
    <button class="form-btn__button">Submit</button>
  </div>
</form>
