<form class="form" [formGroup]="userForm" (ngSubmit)="getDataForm()">
  <div class="form-body">
    <label class="label" for="name">Name</label>
    <input class="input" type="text" id="name" formControlName="name" />
    <label class="label" for="lastName">Last Name</label>
    <input class="input" type="text" id="lastName" formControlName="lastName" />
    <label class="label" for="mail">Email</label>
    <input class="input" type="email" id="mail" formControlName="mail" />

    <label class="label" for="comments">Comments</label>
    <textarea
      name="comments"
      id=""
      cols="30"
      rows="10"
      placeholder="Type here your comments"
    ></textarea>
  </div>
  <div class="form-btn">
    <button class="form-btn__button">Submit</button>
  </div>
</form>
