<div class="home-sections">
  <section class="home-sections__section hero">
    <div class="row">
      <div class="left-column col-06">
        <div class="left-column-text">
          <p class="left-column-hi">Hi, I'm</p>
          <h1 class="left-column-title">Jorge de Toro</h1>
          <p class="left-column-description">
            I am a Full Stack Developer,<br />
            Pricing Analyst and <br />
            Merchandise Senior
          </p>
        </div>
      </div>
      <div class="right-column col-04">
        <ul>
          <li class="social-media">
            <a href="#" class="fab fa-github fa-2x"></a>
          </li>
          <li class="social-media">
            <a href="#" class="fab fa-linkedin fa-2x"></a>
          </li>
          <li class="social-media">
            <a href="#" class="fab fa-instagram fa-2x"></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="home-sections__section about">
    <div class="about-wrapper">
      <h3 class="about-title">About me</h3>
      <div class="row">
        <div class="col col-06">
          <p class="col-06--p">
            Hola, soy Jorge. Un apasionado de la tecnología. Me gusta crear
            cosas, diseñar y programar. En la universidad mi afán por la
            programación creció hasta tal punto que empecé a devorar cursos,
            tutoriales, libros y prácticamente cualquier cosa que me diera la
            oportunidad de aprender y mejorar mis capacidades como programador.
          </p>
          <p class="col-06--p">
            En estos últimos años he completado mi curiosidad y formación con
            dos master universitarios relacionados con este mundo:
            <span>Master Full Stack Developer </span> y
            <span>Master en Data Science. </span> Ahora mismo trabajo una de las
            empresas referentes en el mundo retail en España en la división de
            compras de electrónica: El Corte Inglés .
          </p>
          <div class="tecnology">
            <p>Últimamente he estado trabajando con estas tecnologías:</p>
            <ul class="tecnology__list">
              <li>Angular</li>
              <li>Node.js</li>
              <li>Javascrit</li>
              <li>Typescript</li>
              <li>Express</li>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>Figma</li>
            </ul>
          </div>
        </div>
        <div class="col col-04">
          <div class="layered-card">
            <div class="layered-card__content">
              <img
                class="avatar"
                src="../../../assets/images/tsconfig.app.svg"
                alt="personal image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home-sections__section experience">experience</section>
</div>
