<div class="home-sections">
  <section class="home-sections__section hero">
    <div class="row">
      <div class="left-column col-06">
        <div class="left-column-text">
          <p class="left-column-hi">Hi, I'm</p>
          <h1 class="left-column-title">Jorge de Toro</h1>
          <p class="left-column-description">
            I am a Full Stack Developer,<br />
            Pricing Analyst and <br />
            Merchandise Senior
          </p>
        </div>
      </div>
      <div class="right-column col-04">
        <ul>
          <li class="social-media">
            <a href="#" class="fab fa-github fa-2x"></a>
          </li>
          <li class="social-media">
            <a href="#" class="fab fa-linkedin fa-2x"></a>
          </li>
          <li class="social-media">
            <a href="#" class="fab fa-instagram fa-2x"></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="home-sections__section about">
    <div class="about-wrapper">
      <h3 class="section-title">About me</h3>
      <div class="row">
        <div class="col col-06">
          <div class="col-06-text">
            <p class="col-06--p">
              Hola, soy Jorge. Un apasionado de la tecnología. Me gusta crear
              cosas, diseñar y programar. En la universidad mi afán por la
              programación creció hasta tal punto que empecé a devorar cursos,
              tutoriales, libros y prácticamente cualquier cosa que me diera la
              oportunidad de aprender y mejorar mis capacidades como
              programador.
            </p>
            <p class="col-06--p">
              En estos últimos años he completado mi curiosidad y formación con
              dos master universitarios relacionados con este mundo:
              <span>Master Full Stack Developer </span> y
              <span>Master en Data Science. </span> Ahora mismo trabajo en una
              de las empresas referentes en el mundo retail en España en la
              división de compras de electrónica: El Corte Inglés .
            </p>
          </div>
          <div class="tecnology">
            <p>Últimamente he estado trabajando con estas tecnologías:</p>
            <ul class="tecnology__list">
              <li>Angular</li>
              <li>Node.js</li>
              <li>Javascrit</li>
              <li>Typescript</li>
              <li>Express</li>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>Figma</li>
            </ul>
          </div>
        </div>
        <div class="col col-04">
          <div class="layered-card">
            <div class="layered-card__content">
              <img class="avatar" src="./assets/images/avatar.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-03">
          <div class="col-03-card">
            <i class="fa-solid fa-code fa-2x"></i>
            <h3 class="col-03-card__title">Master Full Stack Developer</h3>
            <p class="col-03-card__p">Marzo 2022 - Diciembre 2022</p>
            <p class="col-03-card__p">UNIR</p>
            <ul class="col-03-card__list">
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascrit</li>
              <li>Angular</li>
              <li>Node Js</li>
              <li>Express</li>
              <li>Mongo DB</li>
              <li>My SQL</li>
            </ul>
          </div>
        </div>
        <div class="col-03">
          <div class="col-03-card">
            <i class="fa-solid fa-chart-column fa-2x"></i>
            <h3 class="col-03-card__title">Master Data Science</h3>
            <p class="col-03-card__p">Enero 2020 - Julio 2021</p>
            <p class="col-03-card__p">UNED</p>
            <ul class="col-03-card__list">
              <li>Python</li>
              <li>R</li>
              <li>Machine Learning</li>
              <li>Prepocesamiento de datos</li>
            </ul>
          </div>
        </div>
        <div class="col-03">
          <div class="col-03-card">
            <i class="fa-solid fa-user-graduate fa-2x"></i>
            <h3 class="col-03-card__title">
              Licenciado en Administración <br />
              y dirección de empresas
            </h3>
            <p class="col-03-card__p">2014</p>
            <p class="col-03-card__p">Universidad Complutense de Madrid</p>
            <p class="col-03-card__p">Especialidad en dirección</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home-sections__section experience">
    <h3 class="section-title">experience</h3>
    <article class="cards-container">
      <div class="card">
        <!-- Cover -->
        <div class="card__cover">
          <img src="../../../assets/images/full stack.jpg" alt="" />
        </div>

        <!-- Content -->
        <div class="card__content">
          <h4 class="card__content__title">Full Stack Developer</h4>
          <p class="card__content__resume">
            Actualmente estoy trabajando como full stack developer freelance,
            desarrollando varios proyectos.
          </p>
        </div>
        <div class="card__footer">
          <button class="btn btn-detalle" [routerLink]="['/viewExperience', 1]">
            <i class="fa-solid fa-arrow-up-right-from-square fa-2x"></i>
          </button>
        </div>
      </div>
      <div class="card">
        <!-- Cover -->
        <div class="card__cover">
          <img src="../../../assets/images/full stack.jpg" alt="" />
        </div>

        <!-- Content -->
        <div class="card__content">
          <h4 class="card__content__title">Pricing Analyst</h4>
          <p class="card__content__resume">
            Actualmente soy el responsable del departamento de pricing de
            electrónica en el Corte Inglés.
          </p>
        </div>
        <div class="card__footer">
          <button class="btn btn-detalle" [routerLink]="['/viewExperience', 1]">
            <i class="fa-solid fa-arrow-up-right-from-square fa-2x"></i>
          </button>
        </div>
      </div>
      <div class="card">
        <!-- Cover -->
        <div class="card__cover">
          <img src="../../../assets/images/full stack.jpg" alt="" />
        </div>

        <!-- Content -->
        <div class="card__content">
          <h4 class="card__content__title">Merchandise Senior</h4>
          <p class="card__content__resume">
            Actualmente soy el responsable de la planificación del departamento
            de compras de informática, en el Corte Inglés.
          </p>
        </div>
        <div class="card__footer">
          <button class="btn btn-detalle" [routerLink]="['/viewExperience', 1]">
            <i class="fa-solid fa-arrow-up-right-from-square fa-2x"></i>
          </button>
        </div>
      </div>
    </article>
  </section>
</div>
