<div class="container">
  <app-aside></app-aside>
  <div class="main">
    <div class="main-panel-icons">
      <a href="assets/Presentation.pdf" download="Presentation.pdf"
        ><i class="fa-solid fa-download"></i> Presentación</a
      >
      <a
        href="https://www.figma.com/file/R7tZgWDwMBTg3x8E12kcZj/TFM?t=pYUm8oUTZvBnhCMa-6"
        target="_blank"
        ><i class="fa-regular fa-eye"></i> Diseño Figma</a
      >
    </div>
    <div class="main-first-row">Objetivos de la app</div>
  </div>
</div>
