<div class="container">
  <app-aside></app-aside>
  <div class="main">
    <div class="main-panel-icons">
      <a href="assets/Presentation.pdf" download="Presentation.pdf"
        ><i class="fa-solid fa-download"></i> Presentación</a
      >
      <a
        href="https://www.figma.com/file/R7tZgWDwMBTg3x8E12kcZj/TFM?t=pYUm8oUTZvBnhCMa-6"
        target="_blank"
        ><i class="fa-regular fa-eye"></i> Diseño Figma</a
      >
    </div>
    <div class="main-first-row">Objetivos de la app</div>
    <div class="carrousel">
      <div class="carrousel-images" [ngClass]="translate">
        <img src="#" alt="Imagen 1" class="img" />
        <img src="#" alt="Imagen 2" class="img" />
        <img src="#" alt="Imagen 3" class="img" />
      </div>
      <ul class="carrousel-points">
        <li
          class="carrousel-points-point point"
          id="prev"
          (click)="carrouselHandler($event)"
        >
          Prev
        </li>
        <li
          class="carrousel-points-point point"
          id="next"
          (click)="carrouselHandler($event)"
        >
          Next
        </li>
      </ul>
    </div>
  </div>
</div>
