<div class="container">
  <app-aside></app-aside>
  <div class="main">
    <div class="main-panel-icons">
      <a href="assets/Presentation.pdf" download="Presentation.pdf"
        ><i class="fa-solid fa-download"></i> Presentación</a
      >
      <a
        href="https://www.figma.com/file/R7tZgWDwMBTg3x8E12kcZj/TFM?t=pYUm8oUTZvBnhCMa-6"
        target="_blank"
        ><i class="fa-regular fa-eye"></i> Diseño Figma</a
      >
    </div>
    <div class="main-first-row app">
      <h2 class="app-title">Resumen de la <span>app</span></h2>
      <p class="app-description">
        La aplicación es un directorio que no solo muestra un listado de
        profesores, que no solo podrá ser filtrado por su ramas de conocimiento,
        precio/hora, experiencia, y puntuación, sino que también se les podrá
        ubicar en un mapa para ver su localización y así ver si se sitúa en su
        misma ciudad.
      </p>
      <ul class="app-info-list">
        <li class="app-info-list-item">
          La aplicación cuenta con tres tipos de usuario: Administrador,
          profesores y alumnos.
        </li>
        <li class="app-info-list-item">
          El administrador validará profesores que se hayan dado de alta para
          que su ficha aparezca en la app.
        </li>
        <li class="app-info-list-item">
          El alumno se tendrá que dar de alta en la app para poder ver datos
          privados del profesor. Asimismo, podrá puntuar y opinar sobre sus
          profesores.
        </li>
      </ul>
      <ul class="app-requirements-list">
        <li class="app-requirements-list-item">
          Formularios de registro tanto para alumnos como para profesores.
        </li>
        <li class="app-requirements-list-item">Login de acceso a usuarios.</li>
        <li class="app-requirements-list-item">
          Parte publica de la web, donde verás un mapa con los profesores que
          tienes cerca de tu ubicación y un listado con los profesores mejor
          puntuados.
        </li>
        <li class="app-requirements-list-item">
          Parte privada a la que accederán profesores, alumnos y administrador,
          donde cada uno podrá ver un menú de acceso a su secciones en función
          de su role.
        </li>
        <li class="app-requirements-list-item">
          Los administradores podrán ver el listado de alumnos y darlos de baja
          (baja lógica no borrarlos).
        </li>
        <li class="app-requirements-list-item">
          Los administradores podrán ver un listado de los profesores y
          validarlos para que puedan aparecer en el directorio.
        </li>
        <li class="app-requirements-list-item">
          Los profesores podrán ver su perfil y los datos de los alumnos que
          están inscritos con ellos.
        </li>
        <li class="app-requirements-list-item">
          El alumno solo podrá acceder a su perfil y puntuar y opinar sobre los
          diferentes profesores siempre y cuando haya sido alumno suyo en algún
          momento.
        </li>
        <li class="app-requirements-list-item">
          Envío de notificaciones por email a los administradores cuando un
          nuevo profesor se registra para que el administrador vaya a validarlo.
        </li>
      </ul>
    </div>

    <div class="main-second-row">
      <div class="carrousel">
        <div
          class="carrousel-images"
          [style.transform]="'translateX(' + translate + '%)'"
        >
          <img
            src="assets/images/Projects/appTFM.png"
            alt="Imagen 1"
            class="img"
          />
          <img
            src="assets/images/Projects/privateArea.png"
            alt="Imagen 2"
            class="img"
          />
          <img
            src="assets/images/Projects/tfmModel.png"
            alt="Imagen 3"
            class="img"
          />
        </div>
      </div>
      <div class="carrousel-points">
        <button
          class="carrousel-points-point point"
          id="prev"
          (click)="carrouselHandler($event)"
        >
          Prev
        </button>
        <button
          class="carrousel-points-point point"
          id="next"
          (click)="carrouselHandler($event)"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
