<div class="container">
  <app-aside></app-aside>
  <div class="main">
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">App Teacher</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Cards/FSD.jpg" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-node-js"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          Aplicación de academia digital con geolocalización de profesores, alta
          y baja de usuarios, alta y baja de matrículas y perfiles privados.<br />
          Conexión con API REST propia en MYSQL.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/TFM-full-stack/Academy-TFM" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </div>
    </article>
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">CV WEB</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Cards/FSD.jpg" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-node-js"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          Curriculum personal en Angular. Es una app responsive en la que se ha
          intentado cumplir con todas las buenas prácticas, intentando hacer un
          cógido sostenible en el tiempo.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/jorgedtoro/CV-web/tree/main/CV2023/appCV"
          target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </div>
    </article>
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">API REST MYSQL</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Cards/FSD.jpg" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-node-js"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          API REST para una aplicación blog de Angular con base de datos en
          MYSQL.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/jorgedtoro/Proyectos-Full-Stack-Developer/tree/main/API%20Blog%20with%20SQL%20model"
          target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </div>
    </article>
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">API REST MongoDB</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Cards/FSD.jpg" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-node-js"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          Aplicación de academia digital con geolocalización de profesores, alta
          y baja de usuarios, alta y baja de matrículas y perfiles privados.<br />
          Conexión con API REST propia en MYSQL.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/jorgedtoro/Proyectos-Full-Stack-Developer/tree/main/API%20inmuebles%20NodeJS-Express-%20MongoDB/appInmuebles"
          target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </div>
    </article>
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">Angular App</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Cards/FSD.jpg" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-node-js"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          Aplicación de academia digital con geolocalización de profesores, alta
          y baja de usuarios, alta y baja de matrículas y perfiles privados.<br />
          Conexión con API REST propia en MYSQL.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/jorgedtoro/Proyectos-Full-Stack-Developer/tree/main/user%20App%20Angular/userApp"
          target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </div>
    </article>
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">Carrito de la compra</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Cards/FSD.jpg" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-node-js"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          Aplicación de academia digital con geolocalización de profesores, alta
          y baja de usuarios, alta y baja de matrículas y perfiles privados.<br />
          Conexión con API REST propia en MYSQL.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/jorgedtoro/Proyectos-Full-Stack-Developer/tree/main/Carrito%20de%20Compras%20(POO)"
          target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </div>
    </article>
  </div>
</div>
