<div class="container">
  <app-aside></app-aside>
  <div class="main">
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">App Teacher</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Projects/appTFM.png" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-node-js"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          Aplicación de academia digital con geolocalización de profesores, alta
          y baja de usuarios, alta y baja de matrículas y perfiles privados.<br />
          Conexión con API REST propia en MYSQL.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/TFM-full-stack/Academy-TFM" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a [routerLink]="['/appTeacher']"
          ><i class="fa-solid fa-arrow-up-right-from-square"></i
        ></a>
      </div>
    </article>

    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">Shopping Cart (RxJS)</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Cards/shoppingCart.png" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-sass"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          Tienda con carrito de la compra. Se ha usado la libreria
          <span>RxJS</span> para toda la comunicación mediante observables entre
          los distintos componentes y para la respuesta de la API. La
          recuperación de los productos se gestiona mediante una llamada a una
          API pública.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/jorgedtoro/rxjs/tree/master/appShop"
          target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a href="https://angular-carrito.netlify.app" target="_blank"
          ><i class="fa-solid fa-arrow-up-right-from-square"></i
        ></a>
      </div>
    </article>

    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">Web Resume</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Cards/cv.png" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-node-js"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          Curriculum personal en Angular. Es una app responsive en la que se ha
          intentado cumplir con todas las buenas prácticas, intentando hacer un
          cógido sostenible en el tiempo.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/jorgedtoro/CV-web/tree/main/CV2023/appCV"
          target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <!-- <i class="fa-solid fa-arrow-up-right-from-square"></i> -->
      </div>
    </article>
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">ToDo with Firebase</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Cards/todo.png" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-node-js"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          Aplicación de tareas con conexión a Firebase. Se utilizan servicios de
          autenticación y posibilidad de iniciar con cuenta de google. La base
          de datos está alojada en Firestore, con almacenamiento en firebase
          Storage. En la aplicación se pueden crear tareas, listas de tareas y
          filtrar por ellas. Tiene un CRUD en firebase completo.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/jorgedtoro/ToDo.git" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <!-- <i class="fa-solid fa-arrow-up-right-from-square"></i> -->
      </div>
    </article>
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">API REST MySQL</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Cards/MySql.png" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-node-js"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          API REST con Express JS para una aplicación tipo blog de Angular con
          base de datos en MYSQL.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/jorgedtoro/Proyectos-Full-Stack-Developer/tree/main/API%20Blog%20with%20SQL%20model"
          target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <!-- <i class="fa-solid fa-arrow-up-right-from-square"></i> -->
      </div>
    </article>
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">API REST MongoDB</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Cards/MongoDb.png" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-node-js"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          Aplicación con Express JS con CRUD sobre grupo de datos que conforman
          los inmuebles de una finca, con conexión a API localhost en MongoDB.
          Para las acciones del modelo se ha usado Mongoose.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/jorgedtoro/Proyectos-Full-Stack-Developer/tree/main/API%20inmuebles%20NodeJS-Express-%20MongoDB/appInmuebles"
          target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <!-- <i class="fa-solid fa-arrow-up-right-from-square"></i> -->
      </div>
    </article>
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">Angular App</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Projects/userApp.png" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-angular"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-bootstrap"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          Directorio de usuarios paginado con conexión a una API REST
          (peticiones.online) Maquetado con Bootstrap.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/jorgedtoro/Proyectos-Full-Stack-Developer/tree/main/user%20App%20Angular/userApp"
          target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <!-- <i class="fa-solid fa-arrow-up-right-from-square"></i> -->
      </div>
    </article>
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">Carrito de la compra</h1>
      </div>
      <div class="card-img">
        <img src="assets/images/Projects/carrito.png" alt="" />
      </div>
      <div class="card-tecno">
        <ul class="card-tecno-list">
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-js"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-html5"></i>
          </li>
          <li class="card-tecno-list-item">
            <i class="fa-brands fa-bootstrap"></i>
          </li>
        </ul>
      </div>
      <div class="card-info">
        <p>
          Carrito de la compra funcional utilizando Vanilla JS y Bootstrap. Se
          usa POO para separar el carrito de los productos. Como API se generó
          un JSON en JSON Blob.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/jorgedtoro/Proyectos-Full-Stack-Developer/tree/main/Carrito%20de%20Compras%20(POO)"
          target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <!-- <i class="fa-solid fa-arrow-up-right-from-square"></i> -->
      </div>
    </article>
  </div>
</div>
