<div class="home">
    <section id="hero" class="secciones hero">
        <div>
            <div class="inner">
                <h2><span>Hola, Soy programador</span></h2>
                <h1>Juanan</h1>
                <span class="title">.: Frontend Developer :.</span>
            </div>
        </div>
    </section>
    <section id="experiencia" class="secciones about">
        <div class="timeline">
            <!-- Left vertical line -->
            <div class="line">
            </div>
            <!-- The timeline items container -->
            <ul class="listitems">
                <!-- Each timeline item -->
                <li>
                    <!-- The circle and title -->
                    <div>
                        <!-- The circle -->
                        <div class="circle">
                        </div>

                        <!-- The title -->
                        <div class="title">
                            Programador Senior Full Stack en 10MinutosProgramando
                        </div>
                    </div>

                    <!-- The description -->
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ex nec turpis
                        efficitur, nec egestas quam
                        fringilla. Vestibulum eget elit et leo malesuada ullamcorper. Fusce varius, lacus in luctus
                        vestibulum, lorem tellus
                        varius turpis, vitae interdum ante nulla id mi. Aliquam in libero sollicitudin urna lobortis
                        consequat in et ex. Cras ut
                        volutpat neque, vitae tincidunt turpis. Vestibulum ante ipsum primis in faucibus orci luctus
                        et ultrices posuere cubilia
                        curae; Donec in tincidunt ligula, vel molestie ipsum. Curabitur sed mattis dui. Nulla in
                        pharetra mauris. Maecenas
                        laoreet facilisis metus, eget suscipit metus fermentum et. Donec mi ipsum, placerat vel nisl
                        a, eleifend tempor tellus.
                        Morbi quis mauris et urna dignissim rutrum.
                    </div>
                </li>

                <!-- Repeat other items -->

                <li>
                    <!-- The circle and title -->
                    <div>
                        <!-- The circle -->
                        <div class="circle">
                        </div>

                        <!-- The title -->
                        <div class="title">
                            Programador Senior Full Stack en 10MinutosProgramando
                        </div>
                    </div>

                    <!-- The description -->
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ex nec turpis
                        efficitur, nec egestas quam
                        fringilla. Vestibulum eget elit et leo malesuada ullamcorper. Fusce varius, lacus in luctus
                        vestibulum, lorem tellus
                        varius turpis, vitae interdum ante nulla id mi. Aliquam in libero sollicitudin urna lobortis
                        consequat in et ex. Cras ut
                        volutpat neque, vitae tincidunt turpis. Vestibulum ante ipsum primis in faucibus orci luctus
                        et ultrices posuere cubilia
                        curae; Donec in tincidunt ligula, vel molestie ipsum. Curabitur sed mattis dui. Nulla in
                        pharetra mauris. Maecenas
                        laoreet facilisis metus, eget suscipit metus fermentum et. Donec mi ipsum, placerat vel nisl
                        a, eleifend tempor tellus.
                        Morbi quis mauris et urna dignissim rutrum.
                    </div>
                </li>

                <li>
                    <!-- The circle and title -->
                    <div>
                        <!-- The circle -->
                        <div class="circle">
                        </div>

                        <!-- The title -->
                        <div class="title">
                            Programador Senior Full Stack en 10MinutosProgramando
                        </div>
                    </div>

                    <!-- The description -->
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ex nec turpis
                        efficitur, nec egestas quam
                        fringilla. Vestibulum eget elit et leo malesuada ullamcorper. Fusce varius, lacus in luctus
                        vestibulum, lorem tellus
                        varius turpis, vitae interdum ante nulla id mi. Aliquam in libero sollicitudin urna lobortis
                        consequat in et ex. Cras ut
                        volutpat neque, vitae tincidunt turpis. Vestibulum ante ipsum primis in faucibus orci luctus
                        et ultrices posuere cubilia
                        curae; Donec in tincidunt ligula, vel molestie ipsum. Curabitur sed mattis dui. Nulla in
                        pharetra mauris. Maecenas
                        laoreet facilisis metus, eget suscipit metus fermentum et. Donec mi ipsum, placerat vel nisl
                        a, eleifend tempor tellus.
                        Morbi quis mauris et urna dignissim rutrum.
                    </div>
                </li>

            </ul>
        </div>
    </section>

    <section id="proyectos" class="secciones proyectos">
        <app-list-projects></app-list-projects>
    </section>
</div>