@import '../styles/commons/commons_dir';

//mobile
.container {
    display: flex;

    app-aside {
        flex-basis: 10%;
        
    }
    .main::-webkit-scrollbar {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex-basis: 90%;
        height: 90vh;
        gap: 3rem;
        background-color: rgba(44, 47, 72, 1);
        color: white;
        border-radius: 0 1rem 1rem 0;
        padding: 1rem;
        overflow-y: scroll;
        scroll-behavior: smooth;
        font-family: $main-font;
        &-panel-icons{
            display: flex;
            justify-content: center;
            gap:2rem;
            padding: 1rem;
            font-size:0.9rem;
            a{
                color: white;
                text-decoration: none;
                i{
                    margin-right: 0.5rem;
                }
            }
        }
        &-first-row{
            font-size: 0.9rem;
            text-align: justify;
            padding: 0.5rem;
            .app-title{
                margin-bottom: 0.75rem;
            }
            .app-description{
                margin-bottom: 0.75rem;

            }
            .app-info-list{
                list-style: none;
                margin-bottom: 0.75rem;
            }
        }
        &-slider-container {
            .carrousel{
                border-radius: 1rem;
                display: flex;
                width: 100%;
                
                overflow-x: scroll;
                scroll-snap-type: x mandatory;
                 img{
                     flex: 0 0 100%;
                     max-width: 100%;
                     object-fit: cover;
                     scroll-snap-align: center;
                 }
            }
        }
    }
    
    
}

//tablet
@media(min-width:$mq-tablet){
    app-aside {
        flex-basis: 20%;
    
    }
    .hero{
        flex-basis:80%;
    }
    .main{

        &-first-row{
            font-size: 1rem;
            padding: 1rem;
            .app-title {
                margin-bottom: 1rem;
            }
            
            .app-description {
                margin-bottom: 1rem;
            
            }
            
        
            .app-info-list {
                margin-bottom: 1rem;
            }
        }
        &-slider-container {
            .carrousel {
                border-radius: 1rem;
                display: flex;
                width: 100%;
                height: 50%;

                overflow-x: scroll;
                scroll-snap-type: x mandatory;

                img {
                    flex: 0 0 100%;
                    max-width: 70%;
                    object-fit: cover;
                    scroll-snap-align: center;
                }
            }
        }
       
    }
    
}