@import '../styles/commons/commons_dir';

.aside{
    padding: 1rem;
    background-color: $aside-background-color;
    border-radius: 1rem 0 0 1rem;
    color: white;
    height: 90vh;
    &-head{
        padding: 1rem;
        margin-bottom: 4rem;
        &-content{
            gap:3rem;
            display: flex;
            &-images{
                img{
                    margin-right: 0.5rem;
                }
            }
        }
    }
    &-menu{
        margin-left: 2rem;
        &-list{
            list-style: none;
            &__li{
                margin-bottom: 0.5rem;
                padding: 0.5rem;
                &:hover{
                    background-color:$color-btn;
                    border-radius: 5px;
                }
            }
        }
    }
    &-resume{
        background-color: $color-btn;
        border-radius: 1rem;
        width: 50%;
        justify-content: center;
        padding: 0.75rem;
        
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            // padding: 1rem;
            text-align: center;
            text-decoration: none;
            color:white;
            img{
                margin-right: 1rem;
            }
        }
    }

}

