@import './commons/commons_dir';

.aside{
    background-color: $aside-profile-background-color;
    border-radius: 0 1rem 1rem 0;
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    
    
    &-head{
        display: flex;
        gap:1rem;
        padding: 0.5rem;
        justify-content: space-around;
        // background: rgba(255, 255, 255, 0.001);
        box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1);
        background-color: $contact-color;
        border-radius: 0 1rem 0 0;
        margin-bottom: 1rem;
    }
    &-profile{
        margin-bottom: 3.5rem;
        align-self: center;
        &-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-image{
                border-radius: 50%;
                border:1px solid;
                width: 150px;
                height: 150px;
                margin-bottom: 1rem;
                img {
                    border-radius: 50%;
                    max-width: 100%;
                }
            }
            &-content{
                display: flex;
                align-items: center;
                gap: 1rem;
                position: relative;
                &-user{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &-status{
                    border-radius: 12px;
                    border: 1px solid greenyellow;
                    position: absolute;
                    right: -80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(55.65deg, #344332 -64.47%, #61C554 164.47%);
                    .user__status{
                        padding: 0.5rem;
                        color: greenyellow;
                        font-size: 0.7rem;
                    }
                }
            }           
        }
    }
    &-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
                font-size: 1rem;
                align-self: start;
                padding: 1rem;
                margin-left:1rem;
        }
        &-card{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-btn;
            padding: 0.75rem;
            border-radius: 5px;
            width: 60%;
            margin-bottom: 1rem ;
            &-content{
                 display: flex;
                 align-items: center;
                
                a{
                    margin-left: 1.5rem;
                }
            }
           
        } 
    }
    &-social{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title{
            font-size: 1rem;
                align-self: start;
                padding: 1rem;
                margin-left: 1rem;
        }
        &-card{
            background-color: $color-btn;
            padding: 0.75rem;
            border-radius: 5px;
            width: 60%;
            margin-bottom: 1rem ;
            &-content{
                display: flex;
                // justify-content: center;
                align-items: center;
                a{
                    margin-left: 1.5rem;
                }
            }
        }
    }
}