@import './commons/commons_dir';


.container{
    position: relative;
    display: flex;
    app-aside{
        flex-basis:10%
    }
    .main::-webkit-scrollbar {
            display: none;
        }
    .main{
        display: flex;
        flex-direction: column;
        height: 90vh;
        gap:3rem;
        background-color: rgba(44, 47, 72, 1);
        color:white;
        border-radius: 0 1rem 1rem 0;
        padding: 1rem;
        overflow-y: scroll;
        scroll-behavior: smooth;
        .card{
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 1rem;
            font-family: $main-font;
            font-weight: 400;
            
            &-head{
                padding: 1rem; 
                border-radius: 1rem 1rem 0 0;
                background: linear-gradient(180deg, rgba(196, 65, 244, 0.5) 0%, rgba(119, 88, 209, 0.5) 100%);
                &-title{
                    text-align: center;
                    font-size: 1rem;
                }   
            }
            &-info{
                display: flex;
                flex-direction: column;
                padding: 1rem;
                gap:0.5rem;
                &-member, &-company{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 0.9rem;
                    font-weight: 100;
                }
                
            }
            &-body{
                padding: 1rem;
                &-list{
                    list-style: none;
                    &-item{
                        margin-bottom: 1rem;
                        background-color: rgba(217, 217, 217, 0.2);
                        border-radius: 6px;
                        padding: 0.5rem;
                        text-align: center;
                        font-size: 0.9rem;
                        font-weight: 100;
                    }
                }
            }
            &-footer{
                display: flex;
                justify-content: center;
                padding: 1rem;
                img{

                    cursor: pointer;
                }
            }
        }
       
    }
    .model{
        display: none;
    }
    .modal-body::-webkit-scrollbar {
        display: none;
    }
    .modal-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90vh;
        padding: 2rem;
        border-radius: 1rem;
        background-color: rgba($aside-profile-background-color,0.8);
        font-family: $main-font;
        overflow-y: scroll;
        scroll-behavior: smooth;
        &-close{
            align-self: end;
        }
        &-title{
            align-self: center;
            margin-bottom: 0.5rem;
        }
        &-subtitle{
            margin-bottom: 1rem;
            &-text{
                color: rgba(196, 65, 244);
            }
        }
        &-tasks, &-subtitle{
            display: flex;
            gap:0.5rem;
            align-items: center;
            margin-bottom: 1rem;
            &-task{
                color: rgba(196, 65, 244);
            }
        }
        &-text{
            text-align: justify;
            margin-bottom: 1rem;
            padding: 0.5rem;
            border-radius: 6px;
            background-color: rgba($color: #ffffff, $alpha: 0.3);
        }

    }
    .show{
        display:flex;
        flex-direction: column;
        position: absolute;
        color:white;
        min-width: 100%;
        min-height: 100%;
        background-color: $aside-background-color;
        border-radius: 1rem;
        
    
    };
}
//tablet
@media(min-width:$mq-tablet){
    .container{
        app-aside {
                z-index:1
            }
        .main{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .card::-webkit-scrollbar {
                    display: none;
                }
            .card{
                position: relative;
                display: flex;
                flex-direction: column;
                margin-top: 3rem;
                max-height: 60vh;
                flex-basis:40%;
                overflow-y: scroll;
                z-index:0;
                &-body {
                    display: flex;
                    flex-direction: column;
                    height: 100%
                }
            }
        }
        .modal-body {
            padding: 5rem;
            z-index:2;
            .modal-content {
                width: 50%;

                .modal-body-subtitle,
                .modal-body-text,
                .modal-body-tasks {
                    margin-bottom: 2rem,
                }

            }
        }
    }
}
//desktop
@media(min-width:$mq-desktop) {
   .container{
        app-aside{
            flex-basis:20%;
        }
        .main{
            flex-basis: 80%;
            .card{    
                flex-basis: 20%; 
            }
        }
   }
};