
app-aside{
    flex-basis: 20%;
    
}
app-aside-profile{
    flex-basis: 30%;
}
.container{
    display: flex;
    font-family: $main-font;
    .hero{
        flex-basis: 50%;
        background-color: #1D203E;
        color: white;
        padding: 1rem;
        &-firstrow{
            &-title{
                font-size: 1.5rem;
                text-transform: capitalize;
            }
        }
        &-secondrow{
            display: flex;
            &-col-left{
                &__title{
                    color:red;
                    text-align: center;
                    margin-bottom: 1rem;
                }
                .card{
                    display: flex;
                    flex-direction: column;
                    border-radius: 1rem;
                    border:1px solid #657779;
                    padding: 1rem;
                    margin-left: 4.25rem;
                    // width: 60%;
                    margin-bottom: 2rem;
                    &-title{
                        color:red;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 0.5rem;
                    }
                    &-content{
                        width: 80%;
                        text-align: justify;
                    }

                }
            }
        }
    }

}