
app-aside{
    flex-basis: 30%;
    
}
app-aside-profile{
    flex-basis: 30%;
}
.container{
    display: flex;
    font-family: $main-font;
    .hero{
        flex-basis: 40%;
        background-color: #1D203E;
        color: white;
        padding: 1rem;
        &-firstrow{
            &-title{
                font-size: 1.5rem;
                text-transform: capitalize;
            }
        }
        &-secondrow{
            display: flex;
        }
    }

}