<section class="timeline-wrapper">
  <div class="timeline">
    <!-- Left vertical line -->
    <div class="timeline__line"></div>

    <!-- The timeline items timeline -->
    <div class="timeline__items">
      <!-- Each timeline item -->
      <div class="timeline__item">
        <!-- The circle and title -->
        <div class="timeline__top">
          <!-- The circle -->
          <div class="timeline__circle"></div>

          <!-- The title -->
          <div class="timeline__title">
            <h2>
              Responsable del departamento de Pricing
              <span>Noviembre 2016--Actualidad</span>
            </h2>

            <p class="timeline__company">Empresa: El corte Inglés</p>
          </div>
        </div>

        <!-- The description -->
        <div class="timeline__desc">
          <p>
            Actualmente soy el responsable del departamento de pricing de la
            división de Electrónica en el Corte Inglés.
          </p>
        </div>
      </div>

      <!-- Repeat other items -->
    </div>
  </div>
</section>
