<div class="container">
  <app-aside></app-aside>
  <div class="main">
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">Master Full Stack Developer</h1>
      </div>
      <div class="card-info">
        <div class="card-info-member">
          <img
            src="../../../assets/images/experience/Calendar.png"
            alt="calendar logo"
          />
          <p>April 2022 to December 2022</p>
        </div>
        <div class="card-info-company">
          <img
            src="../../../assets/images/experience/Business Building.png"
            alt="company logo"
          />
          <p><span>UNIR: </span>Remote</p>
        </div>
        <div class="card-info-company">
          <img
            src="../../../assets/images/experience/Business Building.png"
            alt="company logo"
          />
          <p><span>Calificación final: </span>9.34</p>
        </div>
      </div>
      <div class="card-body">
        <p class="card-body-item">
          El master de Full Stack Developer está basado en la metodología MEAN.
          En él, hemos estudiado todas las tecnologías necesarias tanto para el
          desarrollo FrontEnd, como para el desarrollo BackEnd de esta
          metodología con base en JavaScript.
        </p>
        <p class="card-body-item">
          Como proyecto de fin de master se realizó una aplicación real para la
          empresa Inetum. La aplicación era una academía online con
          geolocalización de profesores en Angular y con conexión a una API REST
          propia creada con Node JS y con base de datos en MYSQL. Se trabajó en
          equipo (5 personas) con un repositorio en github y se utilizaron
          procesos para asemejar el proyecto a un proyecto real con ramas y pull
          request. Se siguió una metodología scrum.
        </p>
        <p class="card-body-item">
          Hemos realizado proyectos personales de FrontEnd como un carrito de la
          compra en Vanilla JS, la maquetación de una tienda online, un blog en
          Angular, un directorio de alumnos con conexión a una API REST.
        </p>
        <p class="card-body-item">
          Para la parte de BackEnd se han realizado proyectos como creación de
          una API REST con Node JS, Express JS y base de datos en SQl. Asimismo,
          una API REST con las mismas tecnologías pero con base de datos en
          MongoDB.
        </p>
      </div>
      <div class="card-footer">
        <p class="card-footer-text">
          Las tecnologías aprendidas en el master fueron:
        </p>
        <ul class="card-body-list">
          <li class="card-body-list-item">Angular</li>
          <li class="card-body-list-item">JavaScript</li>
          <li class="card-body-list-item">TypeScript</li>
          <li class="card-body-list-item">Node JS</li>
          <li class="card-body-list-item">Express JS</li>
          <li class="card-body-list-item">Mongo DB</li>
          <li class="card-body-list-item">MySQL</li>
          <li class="card-body-list-item">HTML</li>
          <li class="card-body-list-item">CSS</li>
          <li class="card-body-list-item">GIT</li>
          <li class="card-body-list-item">TDD</li>
          <li class="card-body-list-item">Firebase</li>
        </ul>
      </div>
    </article>
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">Master Data Science</h1>
      </div>
      <div class="card-info">
        <div class="card-info-member">
          <img
            src="../../../assets/images/experience/Calendar.png"
            alt="calendar logo"
          />
          <p>January 2020 to July 2021</p>
        </div>
        <div class="card-info-company">
          <img
            src="../../../assets/images/experience/Business Building.png"
            alt="company logo"
          />
          <p><span>UNED: </span>Remote</p>
        </div>
        <div class="card-info-company">
          <img
            src="../../../assets/images/experience/Business Building.png"
            alt="company logo"
          />
          <p><span>Calificación final: </span>9.38</p>
        </div>
      </div>
      <div class="card-body">
        <p class="card-body-item">
          En el master de Data Science utilizamos como lenguajes de programación
          Python y R. Empezamos con conceptos clave de estadísitica, uso de
          herramientas para realizar un tratado óptimo de los
          datos(preprocesamiento), hasta ver los modelos más actuales (ARIMA,
          LR, RF, Prophet, XgBoost, Series, Random Forest...), hasta acabar con
          un módulo para estudiar la legalidad a la hora de tratar con datos.
        </p>
        <p class="card-body-item">
          Como proyecto de fin de master se realizó un estudio estadístico de
          ventas de un departamento de electrónica, utilizando ténicas de
          estimación propias de las series temporales. Dado que en el sector
          retail la previsión de compras es una de los pilares más importantes
          si se quiere tener éxito se hizo un estudio para conocer la demanda
          futura lo más acertada posible.
        </p>
        <p class="card-body-item">
          Se utilizó como herramienta cloud Google Colab y Azure. Utilizamos
          librerías de python para el desarrollo de los distintos gráficos.
        </p>
        <p class="card-body-item">
          Uno de los puntos clave para el desarrollo del master fue la
          utilización de GIT con repositorio en github y la creación de
          enviorments para los distintos estudios y así evitar la problemática
          de las versiones de las diferentes librerías.
        </p>
      </div>
      <div class="card-footer">
        <p class="card-footer-text">
          Las tecnologías aprendidas en el master fueron:
        </p>
        <ul class="card-body-list">
          <li class="card-body-list-item">Python</li>
          <li class="card-body-list-item">R</li>
          <li class="card-body-list-item">Estadística</li>
          <li class="card-body-list-item">Jupyter N</li>
          <li class="card-body-list-item">Algoritmos</li>
          <li class="card-body-list-item">Azure</li>
          <li class="card-body-list-item">AWS</li>
          <li class="card-body-list-item">Google Colab</li>
          <li class="card-body-list-item">Pre procesamiento</li>
        </ul>
      </div>
    </article>
    <article class="card">
      <div class="card-head">
        <h1 class="card-head-title">
          Licenciado en Administración y Dirección de empresas
        </h1>
      </div>
      <div class="card-info">
        <div class="card-info-member">
          <img
            src="../../../assets/images/experience/Calendar.png"
            alt="calendar logo"
          />
          <p>June 2013</p>
        </div>
        <div class="card-info-company">
          <img
            src="../../../assets/images/experience/Business Building.png"
            alt="company logo"
          />
          <p><span>UCM: </span>Presential</p>
        </div>
      </div>
      <div class="card-body">
        <p class="card-body-item">
          Estudié la licenciatura de Administración y Dirección de empresas en
          la Universidad Complutense de Madrid con la especialización en
          dirección de empresas.
        </p>
        <p class="card-body-item">
          Como optativa hice un curso en Adobe CS4. Fue mi primer contacto con
          el desarrollo web
        </p>
      </div>
    </article>
  </div>
</div>
