

//variables
@import '../../../assets/partials/variables';

//blocks
@import '../../styles/blocks/hero';
@import '../../styles/blocks/about';
@import '../../styles/blocks/experience';

//commons
@import '../../styles/commons/sections';

.home-sections {
    height: 100%;
    font-family: $poppins;
    //overflow: scroll;


    .home-sections__section {
    height: 100vh;//calc(100vh - 62px);
    width: 100%;
    
    }

    
}
