<aside class="aside">
  <div class="aside-head">
    <div class="aside-head-content">
      <div class="aside-head-content-images">
        <img src="assets/images/Ellipse 1.svg" alt="" />
        <img src="assets/images/Ellipse 2.svg" alt="" />
        <img src="assets/images/Ellipse 3.svg" alt="" />
      </div>
      <div class="aside-head-content-title">Ultimate Plan</div>
    </div>
  </div>
  <div class="aside-menu">
    <ul class="aside-menu-list">
      <li class="aside-menu-list__li">Home</li>
      <li class="aside-menu-list__li">Projects</li>
      <li class="aside-menu-list__li">Education</li>
      <li class="aside-menu-list__li">Experience</li>
    </ul>
  </div>
  <div class="aside-resume">
    <a href="#" class="btn">Resume</a>
  </div>
</aside>
