<aside class="aside">
  <div class="aside-head">
    <div class="aside-head-content-mobile">
      <a (click)="show()"><i class="fa-solid fa-bars"></i></a>
    </div>
    <div class="mobile-menu" *ngIf="mobileDisplay">
      <ul class="aside-menu-list">
        <li class="aside-menu-list__li" [routerLink]="['/home']">
          <img src="assets/images/Categories/Explore.svg" alt="Home" />
          <a>Home</a>
        </li>
        <li class="aside-menu-list__li" [routerLink]="['/projects']">
          <img src="assets/images/Categories/Game.svg" alt="" />
          <a> Projects</a>
        </li>
        <li class="aside-menu-list__li" [routerLink]="['/education']">
          <img src="assets/images/Categories/Education.svg" alt="" />
          <a> Education</a>
        </li>
        <li class="aside-menu-list__li" [routerLink]="['/experience']">
          <img src="assets/images/Categories/Tech.svg" alt="" />
          <a> Experience</a>
        </li>
      </ul>
      <div class="aside-resume-mobile" *ngIf="hero">
        <a href="assets/Resume.pdf" class="btn" download="Resume.pdf"
          ><img src="assets/images/Vector.svg" alt="" /> Resume</a
        >
      </div>
    </div>
    <div class="aside-head-content">
      <div class="aside-head-content-images">
        <img src="assets/images/Ellipse 1.svg" alt="close" />
        <img src="assets/images/Ellipse 2.svg" alt="minimize" />
        <img src="assets/images/Ellipse 3.svg" alt="maximize" />
      </div>
      <div class="aside-head-content-title">Ultimate Plan</div>
    </div>
  </div>
  <div class="aside-menu">
    <ul class="aside-menu-list">
      <li class="aside-menu-list__li" [routerLink]="['/home']">
        <img src="assets/images/Categories/Explore.svg" alt="Home" />
        <a>Home</a>
      </li>
      <li class="aside-menu-list__li" [routerLink]="['/projects']">
        <img src="assets/images/Categories/Game.svg" alt="" />
        <a> Projects</a>
      </li>
      <li class="aside-menu-list__li" [routerLink]="['/education']">
        <img src="assets/images/Categories/Education.svg" alt="" />
        <a> Education</a>
      </li>
      <li class="aside-menu-list__li" [routerLink]="['/experience']">
        <img src="assets/images/Categories/Tech.svg" alt="" />
        <a> Experience</a>
      </li>
    </ul>
  </div>
</aside>
