<div class="container">
  <app-aside></app-aside>
  <div class="hero">
    <div class="hero-firstrow">
      <h1 class="hero-firstrow-title">user profile</h1>
    </div>
    <div class="hero-secondrow">
      <div class="hero-secondrow-col-left">
        <h2 class="hero-secondrow-col-left__title">Recent Games</h2>
        <article class="card">
          <div class="card-title">Full Stack Developer</div>
          <div class="card-content">
            I love code, design and create new things
          </div>
        </article>
        <article class="card">
          <div class="card-title">Senior Merchandiser</div>
          <div class="card-content">
            I'm working in a referent company in the retail market: El Corte
            Inglés
          </div>
        </article>
        <article class="card">
          <div class="card-title">Pricing Manager</div>
          <div class="card-content">
            I'm on charge on the pricing department in El Corte Inglés.
          </div>
        </article>
        <article class="card">
          <div class="card-title">Programmer</div>
          <div class="card-content">I'm coding when i have a moment</div>
        </article>
      </div>
      <div class="hero-secondrow-col-right">
        <div class="skills-container">
          <ul>
            <li class="skill">
              <img src="assets/images/skills/angular.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/html.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/css.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/JS.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/TS.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/python.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/node.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/mongo.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/bootstrap.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/figma.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/sass.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/git.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/SAS.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/vb.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/MySql.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/excel.svg" alt="" />
            </li>
            <li class="skill">
              <img src="assets/images/skills/micro.svg" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-aside-profile></app-aside-profile>
</div>
