<div class="container">
  <app-aside></app-aside>
  <div class="hero">
    <div class="hero-firstrow">
      <div class="hero-firstrow-panel-icons">
        <div class="user-panel">
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-gamepad"></i>
          <i class="fa-brands fa-discord"></i>
          <i class="fa-solid fa-user-group"></i>
        </div>
        <div class="user-notifications">
          <i class="fa-solid fa-chart-bar"></i>
          <i class="fa-solid fa-bookmark"></i>
          <i class="fa-solid fa-bell"></i>
        </div>
      </div>
      <h1 class="hero-firstrow-title">gold user</h1>
    </div>
    <div class="hero-secondrow">
      <div class="hero-secondrow-col-left">
        <h2 class="hero-secondrow-col-left__title">Prefered Games</h2>
        <article class="card">
          <div class="card-content">
            <img src="assets/images/Cards/mac.svg" alt="" />
          </div>
          <div class="card-info">
            <div class="card-info-title">Full Stack Developer</div>
          </div>
        </article>
        <article class="card">
          <div class="card-content">
            <img src="assets/images/Cards/mac.svg" alt="" />
          </div>
          <div class="card-info">
            <div class="card-info-title">Programmer</div>
          </div>
        </article>
        <article class="card">
          <div class="card-content">
            <img src="assets/images/Cards/programmer.png" alt="" />
          </div>
          <div class="card-info">
            <div class="card-info-title">Pricing Manager</div>
          </div>
        </article>
        <article class="card">
          <div class="card-content">
            <img src="assets/images/Cards/mac.svg" alt="" />
          </div>
          <div class="card-info">
            <div class="card-info-title">Senior Merchandiser</div>
          </div>
        </article>
      </div>
      <div class="hero-secondrow-col-right">
        <div class="actual-skills">
          <h2 class="skills-title">Statistics</h2>
          <div class="skills-container">
            <ul>
              <li class="skill">
                <img src="assets/images/skills/angular.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/html.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/css.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/JS.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/TS.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/python.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/node.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/mongo.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/bootstrap.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/figma.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/sass.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/git.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/SAS.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/vb.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/MySql.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/excel.svg" alt="" />
              </li>
              <li class="skill">
                <img src="assets/images/skills/micro.svg" alt="" />
              </li>
            </ul>
          </div>
        </div>
        <div class="future-skills">
          <h2 class="future-skills-title">Next Skill Level</h2>
          <ul class="future-skills-list">
            <li class="future-skill">
              <img src="assets/images/skills/react.svg" alt="logo react" />
            </li>
            <li class="future-skill">
              <img src="assets/images/skills/aws.svg" alt="log aws" />
            </li>
            <li class="future-skill">
              <img src="assets/images/skills/azure.svg" alt="logo azure" />
            </li>
            <li class="future-skill">
              <img src="assets/images/skills/Django.svg" alt="logo django" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-aside-profile></app-aside-profile>
</div>
