@import '../../../assets/partials/variables';
//commons
@import '../../styles/commons/sections';

.about {
    
    //background-color: grey;
    .row {
        display: flex;
        flex-basis: 1;
        padding: 4px;
        margin-top: 16px;
        justify-content: center;
       .col-06 {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 50%;
        padding: 4px;
        // border: 1px solid orange;
        .col-06-text{
            max-width: 70%;
            display: flex;
            flex-direction: column;
            padding: 4px;
            margin: 8px 0px;
            font-size: 1.2rem;
            // border:2px solid red;
            
            .col-06--p{
                padding: 8px;
                margin-bottom: 4px;
                text-align: justify;
            }
        }
            .tecnology{
            padding: 8px;
            margin-left: 16px;
            font-size: 1.2rem;
                &__list{
                 display:grid;
                 text-align: start;
                 padding: 4px;
                 margin: 4px;
                 list-style-type:none;
                 grid-template-columns: 50% 50%;
                //  border: 1px solid green;
                }
                &__list li{
                justify-self: center;
                margin: 4px 0;
                }
            }


        }

       .col-04 {
        flex-basis: 30%;
        // border: 1px solid red;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .layered-card {
                position: relative;
                height: 20rem;
                width: 20rem;
                padding:4px;
                margin-left: 20px;
                border: 1px solid $greyLight-2;
            
                &::before {
                    background-color: $greyLight-2;
                    content: '';
            
                    /* Position */
                    top: 0;
                    left: 0;
                    position: absolute;
                    transform: translate(1rem, 1rem);
            
                    /* Size */
                    height: 100%;
                    width: 100%;
            
                    /* Display under the main content */
                    z-index: 0;
                }
                &:hover::before{
                    background-color: $morado;
                    transform: scale(1.05);
                }
                
            
            
            }
        
        
            .layered-card__content {
                /* Position */
                left: 0;
                position: absolute;
                top: 0;
        
                /* Size */
                height: 100%;
                width: 100%;
        
                z-index: 1;
        
                background: #fff;

                .avatar{
                    max-width: 100%;
                }
            }
        }
        .about-subtitle{
            font-size: 1.5rem;
        }
       .col-03 {
            &-card{
                position:relative;
                border: 1px solid lightgrey;
                border-radius: 6px;
                box-shadow: $shadow;
                display: flex;
                flex-direction: column;
                padding: 12px;
                margin:8px 16px;
                height: 250px;
                text-align: center;
                i{
                 margin: 8px 0px;
                }
               &__title{
                 font-size: 1.3rem;
                 margin: 8px 16px;
                }
               &__p{
                  margin: 8px 0;
                }
               &__list{
                 display: grid;
                 grid-template-columns: 50% 50%;
                }
                       
               &::before{
                   content: '';
                   position: absolute;
                   top: 0;
                   left: 0;
                   height: 100%;
                   width: 100%;
                   background-color: rgb(169, 0, 252);
                   z-index: -1;
                   clip-path: circle(3rem at 5% 0%);
                   transition: .3s linear;
                }
                &:hover::before {
                    background-color: rgb(169, 0, 252);
                    clip-path: circle(100%);
    
                }
            }
        }     
    
    }

    

}
.experience .cards-wrapper .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(169, 0, 252);
    ;
    z-index: -1;
    clip-path: circle(7rem at 5% 0%);
    transition: .3s linear;
}

.experience .cards-wrapper .card:hover::before {
    background-color: rgb(169, 0, 252);
    clip-path: circle(100%);

}