@import '../../../assets/partials/variables';

.hero {
    background: white;
    display: flex;
    justify-content: center;
    
    //waves
    .custom-shape-divider-bottom-1666687268 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        
            svg {
                position: relative;
                display: block;
                width: calc(100% + 1.3px);
                height: 288px;
                transform: rotateY(180deg);
            }
        
            .shape-fill {
                fill: #BD10E0;
            }
        }
    

    .row {
        flex-basis: 1;
        display: flex;
        width: 100%;
        padding: 8px;
        margin: 8px 4px 0px 4px;
        justify-content: center;
        // border: 1px solid red;

        .col-06 {
            flex-basis: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            // border: 1px solid blue;

            .left-column-text {
                // border: 1px solid black;
                padding: 16px;
            }

            .left-column-hi {
                text-align: left;
                font-size: 2em;
                font-family: $poppins;
                padding: 4px;
                margin-bottom: 8px;
                // border: 1px solid brown;
            }

            .left-column-title {
                font-size: 5.5em;
                font-family: $gochi;
                padding: 4px;
                margin-bottom: 8px;
                // border: 1px solid tomato,
            }

            .left-column-description {
                font-size: 3em;
                font-weight: 700;
                font-family: $poppins;
                padding: 4px;
                background: rgb(169, 0, 252);
                background: linear-gradient(180deg, rgba(169, 0, 252, 1) 0%, rgba(121, 9, 116, 1) 38%, rgba(203, 160, 201, 1) 88%, rgba(255, 255, 255, 1) 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }


        }

        .col-04 {
            flex-basis: 40%;
            display: flex;
            justify-content: flex-end;
            margin-right: 16px;
            align-items: center;
            // border: 1px solid green;

            .social-media {
                padding: 8px;
                list-style: none;
                text-decoration: none;

                .fab {
                    text-decoration: none;
                    color:black;
                }
            }
        }
    }
}